.Deals-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

}

.Deal-box {
  width: 400px;
  height: 400px;
  margin: 35px;
  background-color: lightgray;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  box-shadow: 3px 4px 5px rgba(0, 0, 0, 0.3);
}

.Deal-box:hover {
  transform: scale(1.05);
}
