.topbar-container * {
  box-sizing: border-box;
}

.topbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  color: white;
  height: 60px;
  padding: 10px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
  box-shadow: 0 4px 7px rgba(0, 0, 0, 0.2);
}

body {
  padding-top: 100px;
}

.logo-container {
  margin-right: 30px;
}

.logo-container img {
  height: 75px;
  width: auto;
  display: block;
}

ul {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  margin: 0;
  padding: 0;
  list-style: none;
}



ul li {
  margin-left: 10%;
  font-family: sans-serif;
}

ul li a {
  color: white;
  text-decoration: none;

}



@media screen and (max-width: 768px) {
  .topbar-container {
    height: auto;
    flex-wrap: wrap;
  }

  .logo-container {
    margin-bottom: 10px;
    margin-right: 0;
  }

  ul {
    margin: 0;
    justify-content: center;
    flex-wrap: wrap;
  }

  ul li {
    margin: 5px;
  }
}
